<div id="login">
  <h1>Log In</h1>

  <%= form_tag sessions_path do %>
    <div class="field">
      <label> 
        <%= text_field_tag :email, params[:email] %>
        <span>email</span>
    </div>
    <div class="field">
      <label> 
        <%= password_field_tag :password %>
        <span>password</span>
    </div>
    <p class="actions">
      <%= submit_tag "Boom", :id => 'login_button' %>
    </p>
  <% end %>

  <p>or <%= link_to 'SIGN UP', sign_up_path %></p>
</div>