<%= form_for @gif, :url => gif_path, :html => { :multipart => true }  do |f| %>

  <% if @gif.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gif.errors.count, "error") %> prohibited this gif from being saved:</h2>

      <ul>
      <% @gif.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :folder_id %><br />
    <%= f.select :folder_id, current_user.folders.collect {|folder| [folder.name, folder.id]}, {:prompt => 'Select Folder'} %>
  </div>

  <div class="field">
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
