<%= form_for @gif, :url => user_gifs_path(@current_user), :html => { :multipart => true } do |f| %>

  <% if @gif.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gif.errors.count, "error") %> prohibited this gif from being saved:</h2>

      <ul>
      <% @gif.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Download this gif from this link 
    <label>
      <%= f.text_field :file_remote_url %>
      <span>remote url</span>
    </label>
<!--   </div>

  <div class="field"> -->
    <em>or</em> use this uploaded version:  
    <label>
      <%= f.file_field :file %>
      <span>file</span>
    </label>
  </div>

  <div class="field">
    I wrote something clever about it: 
    <label>
      <%= f.text_field :caption %>
      <span>caption</span>.
    </label>
  </div>

  <div class="field">
    Oh, and store this gif under  
    <label>
      <%= f.select :folder_id, current_user.folders.collect {|folder| [folder.name, folder.id]}, {:prompt => 'Select Folder'} %>
    </label>
  </div>

  <div class="actions">
    <%= f.submit 'boom' %>
  </div>
<% end %>
