<% unless @gifs.empty? %>
  
  <h1 class="editable">Gifs Added By <%= @user.username %></h1>
    
    <% if @gifs.first.is_maintained_by?(@current_user) %>
      <p class="editablelink"><%= link_to raw('<i class="icon-plus-sign"></i> Add Gif'), new_user_gif_path(current_user) %></p>
    <% end %>

  <ul class="gifdex">
    <% @gifs.each do |gif| %>
    <li>
      <a href="<%= user_gif_path(@user, gif) %>" title="<%= gif.caption %>" class="giflink">
        <img src="<%= gif.file.url(:thumb) %>" />
      </a><br />

      <% if gif.is_maintained_by?(@current_user) %>
        <%= link_to 'View', user_gif_path(@user, gif) %> | 
        <%= link_to 'Edit', edit_gif_path(gif) %> | 
        <%= link_to 'Trash', gif, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
    <% end %>
  </ul>

<% else %>

  <% if @folders.empty? %>    

    <%= render :partial => 'folders/yay' %>

    <hr />
  <% end %>

    <%= render :partial => 'gifs/yay' %>

<% end %>