  <ul id="gifdex">
    <% @gifs.each do |gif| %>
    <li>
      <a href="<%= gif_path(gif) %>" title="<%= gif.caption %>">
        <img src="<%= gif.file.url(:thumb) %>" />
      </a><br />
      <%= link_to 'Edit', edit_gif_path(gif) %> | 
      <%= link_to 'Destroy', gif, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
    <% end %>
  </ul>
