<h1 class="editable"><%= @gif.caption %></h1>
<p class="editablelink"><%= link_to raw('<i class="icon-edit"></i> Edit Caption'), edit_gif_path(@gif) %></p>

<p>
  <img src="<%= @gif.file.url %>">
</p>

<p class="usp">
  <%= link_to "Post To Facebook", facebook_post_path(@gif), :class => 'primary' %>
</p>

<p class="breadcrumb">

  <a href="<%= folders_path %>">
    <i class="icon-folder-close"></i> My Folders</a> 

  / 
  
  <a href="<%= folder_path(@gif.folder) %>">
    <i class="icon-folder-open"></i> <%= @gif.folder.name %></a> 

</p>
