<p>
  <b>Folder:</b>
  <%= link_to @gif.folder.name, @gif.folder %>
</p>

<% unless @gif.file.url.nil? %> 
  <p>
    <img src="<%= @gif.file.url %>">
  </p>
<% end %> 

<p>
  <b>Caption:</b>
  <%= @gif.caption %> (<%= link_to 'Edit', edit_gif_path(@gif) %>)

</p>

<p>
  <%= link_to "Post To Facebook", facebook_post_path(@gif) %>
</p>

<%= link_to 'Back', gifs_path %>
