<% unless @folders.empty? %>

  <h1 class="editable">My Folders</h1>
  <p class="editablelink"><%= link_to raw('<i class="icon-plus-sign"></i> Add Folder'), new_folder_path %></p>

  <div id="accordion">  
    <% @folders.each do |folder| %>
      <h2><%= folder.name %></h2>
      <div class="accordion-contents">
        <%= link_to 'View', folder %> &nbsp; | &nbsp; 
        <%= link_to raw('<i class="icon-edit"></i> Rename'), edit_folder_path(folder) %> &nbsp; | &nbsp;
        <%= link_to raw('<i class="icon-trash"></i> Delete'), folder, method: :delete, data: { confirm: 'Are you sure?' } %>
          <ul class="gifdex">

            <% if folder.gifs.empty? %>
            
              <%= render :partial => 'gifs/yay' %>

            <% else %>
            
              <% folder.gifs.each do |gif| %>
              <li>
                <a href="<%= gif_path(gif) %>" title="<%= gif.caption %>" class="giflink">
                  <img src="<%= gif.file.url(:thumb) %>" />
                </a><br />
                <%= link_to 'View', gif %> | 
                <%= link_to 'Edit', edit_gif_path(gif) %> | 
                <%= link_to 'Trash', gif, method: :delete, data: { confirm: 'Are you sure?' } %>
              </li>
              <% end %>

            <% end %>

          </ul>
        </div>
    <% end %>
  </div>

<% else %>

  <%= render :partial => 'folders/yay' %>

<% end %>