<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    On Gifest I go by 
    <label>
      <%= f.text_field :username %>
      <span>username</span>
    </label>
    and my email is  
    <label>
      <%= f.text_field :email %>
      <span>email</span>
    </label>
  </div>
  <div class="field">
    Set my password to 
    <label>
      <%= f.password_field :password %>
      <span>password</span>
    </label>
    and I'm confirming my password is 
    <label>
      <%= f.password_field :password_confirmation %>
      <span>password_confirmation</span>
    </label>
  </div>
  <div class="actions">
    <%= f.submit "boom" %>
  </div>
<% end %>
