<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Folders:</b>
  <% if @user.folders.empty? %>
    You currently don't have any folders. <%= link_to "Go make one!", new_folder_path %>
  <% else %>
    <ul>
      <% @user.folders.each do |folder| %>
        <li><%= link_to folder.name, folder %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<p>
  <b>Connected Networks:</b>
  <% if @user.has_identity?("facebook") %>
    Yay! You can post your gifs to Facebook.
  <% else %>
    <%= link_to "Enable Posting Gifs to Facebook", "/auth/facebook" %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
