<!DOCTYPE html>
<html>
<head>
  <title>Gifsaver</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <header>
      <h1>gifest</h1>

      <% if current_user %>
        Logged in as <%= link_to current_user.username, current_user %>.
        <%= link_to "Log Out", log_out_path %>
      <% else %>
        <%= link_to "Sign Up", sign_up_path %> |
        <%= link_to "Login", log_in_path %>
      <% end %>

      <ul>
        <li><%= link_to "New Folder", new_folder_path %></li>
        <li><%= link_to "Folders Index", folders_path %></li>
      </ul>
      <ul>
        <li><%= link_to "New gif", new_gif_path %></li>
        <li><%= link_to "Gifs Index", gifs_path %></li>
      </ul>

      <p id="notice"><%= notice %></p>
    </header>

    <section id="main" class="main">
      <%= yield %>
    </section>
  </div>
</body>
</html>
