<!DOCTYPE html>
<html>
<head>
  <title>Gifsaver</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,600|Pacifico' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <header>
      <div class="logobox">
        <h1><%= link_to "Gifest", user_gifs_path(current_user) %></h1>
      </div>
      <!-- <h2>Get your GIF game up.</h2> -->

      <div id="nav">
        <%= link_to "Add Folder", new_user_folder_path(current_user) %>
        <%= link_to "My Folders", user_folders_path(current_user) %>
        <%= link_to "Add Gif", new_user_gif_path(current_user) %>
        <%= link_to "My Gifs", user_gifs_path(current_user) %>
        <% if current_user %>
          <%= link_to "Settings", current_user %>
          <%= link_to "Log Out", log_out_path %>
        <% else %>
          <%= link_to "Sign Up", sign_up_path %>
          <%= link_to "Log In", log_in_path %>
        <% end %>
        <%= link_to "", "#" %>
        <%= link_to "", "#" %>
      </div>

      <div class="clear"></div>
 
    </header>

    <section id="main" class="main">
      <% if notice %>
        <p id="notice">
          <%= notice %>
          <%= link_to raw('<i class="icon-remove"></i> '), '#', :class => 'pull-right', :id => 'notice-close' %>
        </p>
      <% end %>
      <%= yield %>
    </section>
  </div>
</body>
</html>
