<!DOCTYPE html>
<html>
<head>
  <title>Gifsaver</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <header>
      <div class="logobox">
        <h1>Gifest</h1>
      </div>
      <!-- <h2>Get your GIF game up.</h2> -->

      <div id="nav">
        <%= link_to "Home", gifs_path %>
        <%= link_to "Add Gif", new_gif_path %>
        <%= link_to "My Folders", folders_path %>
        <%= link_to "Create Folder", new_folder_path %>
        <%= link_to "Settings", edit_user_path(current_user) %>
        <% if current_user %>
          <%= link_to "Log Out", log_out_path %>
          <% else %>
          <%= link_to "Login", log_in_path %>
        <% end %>
        <%= link_to "", "#" %>
        <%= link_to "", "#" %>
        <%= link_to "", "#" %>
      </div>

      <div class="clear"></div>
 
      <% unless current_user %>            
        <%= link_to "Sign Up", sign_up_path %> |
      <% end %>

    </header>

    <section id="main" class="main">
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </section>
  </div>
</body>
</html>
